/* .background {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #ffffff 0%, #f7f3ff 100%);
  position: fixed;
  z-index: -1;
}
 */
/* Navbar */

.nav-main-cont {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--background);
}

.nav-shadow {
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
}

.nav-menu-cont {
  display: flex;
  align-items: start;
  gap: 0.5em;
  margin-right: 2em;
  height: max-content;
  padding: 1.5rem 0;
}

.nav-links {
  font-size: 1.4em;
  color: var(--pink);
  text-decoration: none;
  padding: 0.2rem 0.8rem;
  font-family: "Karla", sans-serif;
  color: var(--pink);
}

.nav-links:hover {
  /*   text-shadow: 3px 3px 10px var(--lilac); */
  background-color: var(--light-pink);
  border-radius: 25px;
  background-color: var(--light-pink);
}

.nav-icon {
  display: none;
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: 1.5rem;
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu-cont {
  display: none;
  height: 10vh;
  /* background-color: var(--background); */
  justify-content: flex-end;
  /* position: fixed;
  top: 0; 
  width: 100%;*/
  z-index: 1;
}

.hamburger-menu:has(input:checked) {
  --foreground: var(--background);
  --background: var(--primary-text);
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--purple);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--pink);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

@media only screen and (max-width: 900px) {
  .nav-main-cont {
    height: 15vh;
    justify-content: space-around;
  }

  .nav-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hamburger-menu-cont {
    display: flex;
    width: 30%;
  }

  .hamburger-menu-cont label {
    display: flex;
    z-index: 20;
  }

  .nav-menu-cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-pink);
    color: var(--pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transform: translateY(-100%);
    z-index: 0;
  }

  .nav-menu-cont.active {
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
  }
}

/* Dark mode */

#dark-toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  width: 30%;
}

.dark-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin: 0 15px 0 10px;
}

.dark-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.dark-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  border-radius: 8px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  box-shadow: 0px 0px 3px var(--border);
}

.dark-slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: var(--dark-switch);
  border-radius: 8px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .dark-slider {
  background-color: white;
}

input:checked + .dark-slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Intro */

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.box {
  position: relative;
  width: 25em;
  height: 21em;
  background: var(--light-pink);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 5px var(--shadow);
}

/* Set the color of the shadow */
.box-shadow-color {
  --shadow-color: var(--primary-text); /* Replace with your color variable */
}

/* Set the opacity of the shadow */
.box-shadow-opacity {
  --shadow-opacity: 0.5; /* Replace with your opacity value */
}

/* Combine the color and opacity values to create the shadow */
.box-shadow {
  box-shadow: 0px 5px 5px rgba(var(--shadow-color), var(--shadow-opacity));
}

.box::before,
.box::after {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 40%;
  height: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.box::before {
  left: 15px;
  transform: skew(-5deg) rotate(-5deg);
}

.box::after {
  right: 15px;
  transform: skew(5deg) rotate(5deg);
}

.box:hover::before,
.box:hover::after {
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
}

.box:hover::before {
  left: 5px;
}

.box:hover::after {
  right: 5px;
}

.intro-cont {
  margin-top: 7em;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.intro-text-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.intro-text-cont h2 {
  font-weight: 900;
  font-size: 1.9em;
  line-height: 1.3;
  font-family: "Karla", sans-serif;
}

.intro-text-cont > p {
  line-height: 1.7;
}

.pink-text {
  color: var(--pink);
}

.box svg {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.tape {
  width: 40%;
  position: absolute;
  top: -1em;
  transform: rotate(8deg);
}

@media only screen and (max-width: 900px) {
  .intro-cont {
    flex-direction: column-reverse;
  }

  .intro-text-cont {
    width: 85%;
  }
}
