code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
x::after,
x::backdrop {
  box-sizing: border-box;
}

.theme-light {
  --background: #ffffff;
  --primary-text: #000000;
  --pink: #ed5971;
  --light-pink: #ffdde8;
  --dark-switch: #ffdde8;
  --dark-grey: #212529;
  --shadow: rgba(0, 0, 0, 0.1);
  --bar-width: 2.8rem;
  --bar-height: 0.4rem;
  --hamburger-gap: 0.3em;
  --hamburger-margin: 6em;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.theme-dark {
  --background: #000000;
  --primary-text: #ffffff;
  --pink: #ed385f;
  --shadow: rgba(255, 255, 255, 0.523);
  --dark-switch: #ed385f;
  --light-pink: #ffdde8;
  --yellow: #fbbc07;
  --green: #2ecc71;
  --bar-width: 2.8rem;
  --bar-height: 0.4rem;
  --hamburger-gap: 0.3em;
  --hamburger-margin: 6em;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

html,
#root {
  background-color: var(--background);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  color: var(--primary-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
